__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.Python
build/
dist/

.venv/
env/
venv/
.env

.idea/
.vs/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

workspace/
workspace*/
logs/
*.log

zinc_db/
zinc_cache/
data/
third_party/
data/**/*.smi
data/**/*.gz

*.bak
*.tmp
